/*
 * Una fuente delicada para toda la página, puedes ver más al respecto en las unidades
 * que tratan sobre adaptar páginas web a diferentes dispositivos
 */

.page {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-font-feature-settings: "kern" 1;
  font-feature-settings: "kern";
}

/*
 * Hacemos que toda la sección que anida el formulario 
 * esté alineada a la izquierda con posicionamiento fijo
 */

.form {
  width: 320px;
  height: 100vh;
  background: rgba(255, 255, 255, .95);
  border-right: 1px solid #000;
  position: fixed;
  top: 0;
  left: 0;
  transition: left .5s;
  font-family: 'Alegreya Sans', sans-serif;
}

/*
 * La clase creada para animar la sección del formulario.
 * La propiedad `left` cambiará con suavidad, eliminando
 * la sección que queda fuera de la pantalla en el momento adecuado
 */

.form_is-closed {
  left: -320px;
}

/* Bloque con el ícono para esconder y mostrar la sección del formulario */

.form__toggle {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, .95);
  position: absolute;
  top: 0;
  right: -50px;
  display: flex;
  cursor: pointer;
  transition: opacity .4s;
}

.form__toggle:hover {
  opacity: .8;
}

.form__toggle-image {
  width: 12px;
  height: 20px;
  margin: auto;
}

/* Girar el icono la animación de la sección del formulario */

.form_is-closed .form__toggle-image {
  transform: rotate(180deg);
}

/*
 * La altura del contenedor se calcula con la función `calc`,
 * que veremos en las unidades sobre el diseño adaptativo y responsivo.
 * La propiedad `overflow` controla el comportamiento del contenedor externo
 * si el contenido no encaja en sus dimensiones.
 * En ese caso, una barra de desplazamiento vertical aparecerá.
 */

.form__main-container {
  height: calc(100vh - 40px);
  overflow-y: scroll;
}

/* Encabezado del formulario */

.form__heading {
  font-size: 28px;
  line-height: 32px;
  width: 240px;
  margin: 23px auto 0;
}

.form__heading_type_ctrl-el-heading {
  margin: 35px auto 0;
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
}

/* Formulario en sí */

.form__admin {
  height: 100vh;
}

/* Estilos para todos los elementos del grupo de campos */

.form__input-container {
  width: 240px;
  margin: auto;
  padding-bottom: 50px;
}

/* Línea que separa los grupos de campos */

.form__line {
  height: 1px;
  background-color: #000;
}

/* Estilos comunes para todas las etiquetas label */

.form__label {

  margin: 35px auto 0;
  font-size: 20px;
  line-height: 30px;
}

/* Estilos comunes para todos los campos de entrada */
/*
.form__item {
  border: 0;
  width: 100%;
  height: 24px;
  box-sizing: border-box;
  border-bottom: 1px solid #bcbcc4;
  background-color: transparent;
  margin-top: 5px;
  font-size: 14px;
  font-family: inherit;
}
*/

/* Cambiar el color de contorno cuando el campo de entrada está activado */

/* Estilos de los marcadores de posición */

/* Campos de entrada */

/* Selector de clase para el campo de entrada de texto principal {
  background: #fff;
  height: 150px;
  font-size: 14px;
  padding: 6px 6px 4px;
  border: 1px solid #bcbcc4;
}
*/

/* Selector del campo de entrada con el tipo `number` {
  background-color: white;
  color: black;
  border: 1px solid #bcbcc4;
  padding: 0 4px;
}
*/

/* Selector del campo de entrada con el tipo `date` {
  background-color: white;
  color: black;
  border: 1px solid #bcbcc4;
  padding: 0 4px;
  font-family: 'Alegreya Sans', sans-serif;
}
*/

/* Selector del campo de entrada con el tipo `color` {
  height: 30px;
  width: 48px;
  border-bottom: 0;
  padding: 0;
}
*/

/* Selector del campo de entrada con el tipo `range` {
  width: 144px;
}
*/

/* Campo de la lista desplegable con la clase form_item */

/* select.form__item {
  background-color: white;
  color: black;
  border: 1px solid #bcbcc4;
}
*/

/* Selector del campo del botón de radio {
  display: inline-block;
  width: 16px;
  height: 16px;
}
*/

/* Selector del campo del botón de radio con el valor two-columns {
  margin-left: 25px;
}
*/

/* Selector del campo del checkbox {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin: 0;
}
*/

.form__label_direction_right {
  display: inline;
  font-size: 14px;
  line-height: 30px;
  margin-left: 10px;
}

/* Área para los botones y botones */

.form__handlers {
  margin: 0;
  width: 320px;
  height: 40px;
}

/* Estilos comunes para todos los botones */

/* .form__button {
  width: 50%;
  height: 40px;
  font-size: 14px;
  border: 0;
  margin: 0;
  padding-bottom: 5px;
  cursor: pointer;
  transition: opacity .4s;
  color: white;
  font-family: inherit;
}

.form__button:hover {
  opacity: .7;
}
*/

/* Cambiar el color de contorno cuando un botón está activado */


/* Selector del botón enviar {
  background-color: #000;
}
*/

/* Selector del botón reiniciar {
  background-color: #ea3a3a;
}
*/

/* Estilos de la página */

.content {
  font-family: 'Playfair Display', serif;
  width: 90%;
  margin: 0 auto;
  padding-top: 60px;
}

.content__heading {
  font-size: 55px;
  width: 523px;
  margin: auto;
  line-height: 60px;
  text-align: center;
  font-weight: bold;
}

.content__subheading {
  text-align: center;
  width: 430px;
  font-size: 20px;
  line-height: 30px;
  margin: 40px auto;
}

.content__image-item {
  width: 100%;
}

.content__image-copyright {
  font-size: 14px;
  margin-top: 20px;
}

/*
 * Aquí aplicamos dos propiedades que son nuevas para ti:
 * column-count y column-gap.
 * Estas propiedades dividen el texto en columnas.
 * "column-count: 1" significa que el texto se mostrará en una sola columna
 * "column-gap: 40px" establece el hueco recomendado entre las dos columnas
 */

.content__text {
  width: 70%;
  font-size: 20px;
  line-height: 30px;
  margin: 30px auto;
  column-count: 1;
  column-gap: 40px;
}

.content__paragraph {
  margin: 30px 0;
}

.content__link {
  color: black;
}

.content__date {
  font-size: 20px;
  width: 70%;
  margin: 90px auto 0;
  text-decoration: underline;
}


.footer__container {
  height: 100px;
}